################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#Ignore temporary files
/__pycache__

#Ignore visual studio settings
/.vs

#Ignore file with user secrets
database.ini
